1- Explain the difference between Relative , Absolute and Mixed Cell Referencing.
# You have the following dataset:
  Ans- 1:- Relative Cell Referencing

Relative cell referencing changes automatically when a formula is copied to another cell.

Using the given data set:
If we calculate 10% tax for the Car in cell C2 using:
=B2*10%
When this formula is copied down:

For Bicycle → =B3*10%

For Auto-Rickshaw → =B4*10%

Here, the cell reference changes from B2 to B3 and B4, showing relative referencing.

2:- Absolute Cell Referencing

Absolute cell referencing keeps a cell fixed, even when the formula is copied.
It uses the $ symbol.

Using the given data set:
Assume 10% tax rate is stored in D1.

Formula in C2: =B2*$D$1

When copied down for Bicycle and Auto-Rickshaw:
C3 → =B3*$D$1

C4 → =B4*$D$1

The cell $D$1 remains unchanged, which demonstrates absolute referencing.

3- Mixed Cell Referencing

Mixed cell referencing fixes either the row or the column, but not both.

Using the given data set:
Formula: =$B2*C$1

$B → Column B (Price) is fixed

2 → Row changes for Bicycle and Auto-Rickshaw

$1 → Row 1 remains fixed

This type of reference is useful when working with structured tables and repeated calculations.

Ques 2- Write a formula to calculate the total sales of Car and Bicyle only

Answere- =SUM(B2,B3) Or =B2+B3

Ques 3- Using the data below, write a formula to calculate the average sales of items priced above 100 but less than
300:

Answere- =AVERAGEIFS(C2:C4, B2:B4, ">100", B2:B4, "<300")

Quest 4- Count how many customer names are recorded

Ans - Using Formula =COUNTA(B2:B51)
      Count is 50

Quest 5- Calculate the Total Sales for each row using a formula.

Answere- To Find Total Sales

Quantity is in Clmn E
Unit Price is in Clmn F
I Created a New Coloumn H Total Sales
Formula Used : =E2*F2 in total sales and Drag it to the lower end and i got the total sales of each row.

Quest 6- Calculate the total sales of Notebooks in the North region only.

Answere- Region is In coloumn c
         Product is in Column D
         Total sales we Calculated earlier in column H
         So i applied filter to get Region North Only and product Notebook only .
         Then i applied formula in total sales Column and got the sum of total sales of notebooks in north region only.
         Formula Used: =SUM(H2:H50) = 16293

Quest 7- Create a column chart showing total sales by product.

Question 8- Insert a line chart showing daily sales trend.
 Answere - [link text]https://docs.google.com/spreadsheets/d/1HLDsifxYbkxrUiV_fuHsyeHn6_Go6wW3/edit?usp=drive_link&ouid=111219547919270735276&rtpof=true&sd=true